@namespace Agri_Cultured.Areas.Identity.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" />
		<link href="~/css/site.css" rel="stylesheet" />
	</head>
	<body style="margin-top:50px; background-image:linear-gradient(180deg, rgb(0, 55, 55) 0%, #001c1c 70%); height:100vh">
		@RenderBody()
		<script src="_framework/blazor.server.js"></script>
	</body>
</html>