/* _content/Agri-Cultured/Shared/MainLayout.razor.rz.scp.css */
.page[b-pf473kf17p] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-pf473kf17p] {
    flex: 1;
}

.sidebar[b-pf473kf17p] {
    background-image: linear-gradient(180deg, rgb(87, 188, 144) 0%, rgb(0119, 201, 212) 70%)
}

.top-row[b-pf473kf17p] {
    background-color: rgb(87, 188, 144);
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-pf473kf17p]  a, .top-row .btn-link[b-pf473kf17p] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-pf473kf17p] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-pf473kf17p] {
        display: none;
    }

    .top-row.auth[b-pf473kf17p] {
        justify-content: space-between;
    }

    .top-row a[b-pf473kf17p], .top-row .btn-link[b-pf473kf17p] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-pf473kf17p] {
        flex-direction: row;
    }

    .sidebar[b-pf473kf17p] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-pf473kf17p] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-pf473kf17p], article[b-pf473kf17p] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/Agri-Cultured/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-eyhnehdah7] {
    background-color: rgba(255, 255, 255, 0.1);
}

#dashboard[b-eyhnehdah7] {
    color: white;
    font-size: 20px;
    -webkit-text-stroke-width: 0.5px;
    text-shadow: 0px 4px 4px #282828;
}

.dropdown-menu[b-eyhnehdah7] {
    background-image: linear-gradient(180deg, rgb(35, 101, 35) 85%, rgb(0, 255, 144) 100%)
}

.top-row[b-eyhnehdah7] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-eyhnehdah7] {
    font-size: 1.1rem;
}

.oi[b-eyhnehdah7] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-eyhnehdah7] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-eyhnehdah7] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-eyhnehdah7] {
        padding-bottom: 1rem;
    }

    .nav-item[b-eyhnehdah7]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-eyhnehdah7]  a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item[b-eyhnehdah7]  a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-eyhnehdah7] {
        display: none;
    }

    .collapse[b-eyhnehdah7] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable[b-eyhnehdah7] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
