@inherits LayoutComponentBase

<div class="page" style="background-image: linear-gradient(360deg, rgb(0, 0, 50) 5%, rgb(102, 255, 178) 100%)">
    <main>
        @Body

    </main>
    <footer class="class=pl-3 text-muted overflow-hidden">
        <MudTFootRow Style="font-size: 11px">
            &copy; 2023 - Agri-Cultured | Powered by SyntaxSavants
        </MudTFootRow>
        <MudThemeProvider />
        <MudSnackbarProvider />
    </footer>

</div>