<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a id="dashboard" class="navbar-brand" href="/Dashboard">Agri-Cultured</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div id="dashboard" class="nav-item px-0">
            <NavLink class="nav-link" href="/Dashboard" Match="NavLinkMatch.All">
                <span class="oi oi-dashboard" aria-hidden="true"></span>Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-0">
            <MudIconButton Icon="@Icons.Material.Filled.Logout" aria-label="delete" Title="Log Out" Color="Color.Error" Size="Size.Large" Variant="MudBlazor.Variant.Filled" Style="background-color:rgba(170, 0, 0, 0.65);" Href="/Identity/Account/Logout"></MudIconButton>
        </div>
    </nav>
</div>



@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
