@page "/Agriculturaltasks"
@inject IDialogService DialogService

<PageTitle>Agricultural Tasks</PageTitle>

<h3 style="color: #015249; text-shadow: 0px 2px 3px #015249;">Agricultural Tasks</h3>

<RadzenRow JustifyContent="JustifyContent.Start" AlignItems="Radzen.AlignItems.Center" Gap="0">
    <RadzenRow JustifyContent="JustifyContent.Center" AlignItems="Radzen.AlignItems.Center" Gap="0">
        <RadzenColumn Size="12" Style="justify-self:center; align-self:center">
            <RadzenCard Class="rz-my-12 rz-mx-auto" Style="width:auto; height:470px;  background-image: linear-gradient(180deg, rgb(87, 188, 144) 0%, rgb(0119, 201, 212) 70%); color: #015249; text-shadow: 0px 1px 3px gray;">
                <RadzenStack Orientation="Radzen.Orientation.Horizontal" JustifyContent="JustifyContent.Stretch" Gap="1rem" Class="rz-p-4">
                    <RadzenStack Gap="0" Style="align-self:center">
                        <RadzenText TextStyle="TextStyle.Body1" Style="color: white; text-shadow: 0px 2px 3px gray; font-size: 17px;" class="rz-display-flex rz-mt-2 rz-my-0"><b>Task</b></RadzenText>
                    </RadzenStack>
                </RadzenStack>
                <RadzenCard class="rz-background-color-danger-lighter rz-shadow-0 rz-border-radius-0 rz-p-8" style="height:330px; width:100%; overflow-y: auto">
                    <RadzenRow RowGap="0">
                        <RadzenColumn SizeXS="12">
                            <RadzenRow>
                                <RadzenColumn>
                                    <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0" Style="color: #015249; font-size: 12px"><strong>Task Name:</strong></RadzenText>
                                    <RadzenText TextStyle="TextStyle.Body1" Style="color: white">Life is a waste of time, and time is a waste of life. Get wasted all the time, and you'll have the time of your life!</RadzenText>
                                </RadzenColumn>
                            </RadzenRow>
                             <RadzenRow>
                                <RadzenColumn>
                                    <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0" Style="color: #015249; font-size: 12px"><strong>Date Started:</strong></RadzenText>
                                    <RadzenText TextStyle="TextStyle.Body1"Style="color: white;">Since 1997</RadzenText>
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        <RadzenColumn SizeXS="12" Style="margin-top: 25%">
                            <RadzenRow>
                                <RadzenColumn>
                                    <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0" Style="color: #015249; font-size: 12px"><strong>Workers N:</strong></RadzenText>
                                    <RadzenText TextStyle="TextStyle.Body1" Style="color: white;">Shiptar</RadzenText>
                                </RadzenColumn>
                                <RadzenColumn>
                                    <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0" Style="color: #015249; font-size: 12px"><strong>Cost:</strong></RadzenText>
                                    <RadzenText TextStyle="TextStyle.Body1" Style="color: white;">1000000</RadzenText>
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                    </RadzenRow>
                </RadzenCard>
                <div class="mt-2">
                    <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Primary" />
                    <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" />
                </div>
            </RadzenCard>
        </RadzenColumn>
    </RadzenRow>
</RadzenRow>
<RadzenButton Text="Create" Icon="add" ButtonStyle="ButtonStyle.Success" Size="ButtonSize.Large" Style="width: 48%; height: 15%; font-size: 25px; justify-content: center" />
@code {

    
}