@page "/"

<PageTitle>Index</PageTitle>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
</head>
<body>
    <h1>Hello, world!</h1>
    <MudButton Variant="Variant.Filled">Default</MudButton>
    Welcome to your new app.
</body>
</html>



